body {
    margin: 0%;
    background-color: #000000;
}

/* Estilos básicos del menú */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #000000;
  height: 9px
}

.logo {
  max-width: 7rem;
  height: 100px;
}


.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #ffffff;
}

nav li:hover a {
  color: #3cc953; /* Color del texto al pasar el mouse por encima */
}

nav li:hover a {
  color: #3cc953; /* Color del texto al pasar el mouse por encima */
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #ffffff;
  }

  .cerrar-menu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 0vmax rgba(0, 0, 0, .5);
      z-index: 1000;
      height: 200px;
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }

  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ececec;
  }
}

@media screen and (max-width: 699px) {
.contenedor {
    height: 147px; /* Altura fija para el contenedor, ajusta el valor según tus necesidades */
    display: flex;
    /*justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 40px;
    padding: 0.7rem;
  }
}
@media screen and (min-width: 700px) {
.contenedor {
    height: 600px; /* Altura fija para el contenedor, ajusta el valor según tus necesidades */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
}
.imagen {
    max-height: 100%; /* Para que las imágenes no sean más altas que el contenedor */
    width: auto; /* Para mantener la proporción de aspecto original de las imágenes */
    opacity: 0.2;
}

.Servicios{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;  
}

.imagen:hover {
    opacity: 1.0;
    border: 2px solid black;
}

.Fondo {
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 700px) {
.Logo2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  }
}
@media screen and (max-width: 699px) { 
.Logo2 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    width: 160px;
    color: #fff; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  }
}
.contenedor-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre las columnas */
    background-color: rgb(0, 0, 0);;
}

.columna {
    flex: 1; /* Cada columna ocupa un cuarto del espacio disponible */
    list-style: none;
    padding: 0;
}

.columna li {
    margin-bottom: 10px; /* Espacio entre elementos */
}

@media screen and (min-width: 700px) {
.Titulo{
    position: absolute;
    bottom: 550px; /* Ajusta la distancia del texto desde la parte inferior */
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    color: #000000; /* Color del texto */
    padding: 5px; /* Espacio alrededor del texto */
    font-size: 32px;
    transition: background-color 0.3s ease;
  }
}

@media screen and (max-width: 699px) { 
.Titulo{
    position: absolute;
    bottom: 550px; /* Ajusta la distancia del texto desde la parte inferior */
    left: 0;
    right: 0;
    top: 7%;
    text-align: center;
    color: #000000; /* Color del texto */
    padding: 5px; /* Espacio alrededor del texto */
    font-size: 25px;
    transition: background-color 0.3s ease;
  }
}
.Titulo:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255); /* Agrega un efecto de brillo */
    color: #ffffff;
}


.formulario {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.Contacto {
    font-size: 24px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 30px;
    width: 70%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.Nosotros {
    position: relative;
    width: 100%;
}

.TextoN {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        text-align: center;
}

@media screen and (max-width: 699px) {
.TextoN {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        text-align: center;
        width: 230px;
        height: 130px;
        font-size: 12px;
  }
}

@media screen and (max-width: 699px) {
.TextoN2 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        text-align: center;
        width: 230px;
        height: 130px;
        font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
.Ellos {
    width: 100%;
    height: 800px;
    max-width: 100%;
    display: block;
  }
}

@media screen and (max-width: 699px) {
.Ellos {
    width: 100%;
    height: 500px;
    display: block;
  }
}
#contact {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 699px) {
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 40px;
  }
}

@media screen and (min-width: 700px) {
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  }
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

@media screen and (max-width: 699px) {
.form-control, 
textarea {
  width: 160px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  padding: 1rem;
  }
}
.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: auto;
  height: 50%;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 2px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  .contact-list {
    padding: 1px;
    justify-content: center;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

.logos {
  margin: 0%;
  padding: 5px;
}
