/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #333; /* Color de fondo del menú */
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px; /* Espacio entre elementos del menú */
}

nav a {
    text-decoration: none;
    color: #fff; /* Color del texto en estado normal */
    position: relative; /* Añadimos posición relativa para que el cuadro se ajuste a este elemento */
    transition: 0.3s; /* Agregamos una transición suave para el cambio de color */
}

/* Efecto de cambio de color de fondo y texto al pasar el mouse por encima */
nav li:hover {
    background-color: #fff; /* Color de fondo al pasar el mouse por encima */
}

nav li:hover a {
    color: #ff6600; /* Color del texto al pasar el mouse por encima */
}

/* Estilo del cuadro blanco */
nav li:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Ancho del cuadro blanco */
    height: 100px; /* Altura del cuadro blanco */
    background-color: #fff; /* Color del cuadro blanco */
    border-radius: 4px; /* Bordes redondeados */
    display: block;
}

.section {
    padding: 2rem;
}

.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.section1 {
    font-size: 30px;
    text-align: center;
}

.Fondo {
    background-image: url('https://cdn.pixabay.com/photo/2023/02/07/13/55/forest-7774205_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.Cuadro{
    margin: 0; /* Elimina el margen predeterminado de los títulos */
    border: 2px solid rgb(255, 255, 255); /* Añade un borde blanco de 2px alrededor del contenido */
    padding: 30px; /* Espaciado interno para el contenido */
    color: #000000;
    text-align: center;
}
